*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

/*1200px*/
@media only screen and (max-width: 75em) {
  html {
    font-size: 53.25%;
  }
}

/*900px*/
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

/*612px*/
@media only screen and (max-width: 38.25em) {
  html {
    font-size: 38%;
  }
}
/*420px*/
@media only screen and (max-width: 26.25em) {
  html {
    font-size: 26%;
  }
}

/*320px*/
@media only screen and (max-width: 20em) {
  html {
    font-size: 23%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
.nav-items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.loo {
  max-width: 80%;
}
.abo {
  font-size: 15px;
  margin: 1.5rem;
  color: rgb(81, 172, 247);
  padding: 2rem;
  font-family: sans-serif;
}

/*1200px*/
@media only screen and (max-width: 75em) {
  .abo {
    font-size: 3rem;
  }
}

/*320px*/
@media only screen and (max-width: 20em) {
  .abo {
    font-size: 2.5rem;
  }
}
.abo:hover {
  background-image: linear-gradient(
    to left,
    rgb(250, 247, 247),
    rgb(215, 220, 221)
  );
}
.engl {
  background-color: #ebeaea;
}
.link {
  text-decoration: none;
  color: black;
  text-align: center;
}
.link-1 {
  text-decoration: none;
  color: white;
}
.link-2 {
  text-decoration: none;
}
.header-offi {
  background-size: cover;
}
.first-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-size: cover;
  padding-top: 70px;
  padding-left: 30px;
}
/*320px*/
@media only screen and (max-width: 20em) {
  .first-header {
    padding-left: 1em;
  }
}
/*420px*/
@media only screen and (max-width: 26.25em) {
  .first-header {
    padding-left: 2rem;
  }
}
.second {
  font-size: 70px;
  font-family: sans-serif;
  color: rgb(81, 172, 247);
  font-family: sans-serif;
}

/*1200px*/
@media only screen and (max-width: 75em) {
  .second {
    font-size: 7rem;
  }
}

/*900px*/
@media only screen and (max-width: 56.25em) {
  .second {
    font-size: 6rem;
  }
}

/*612px*/
@media only screen and (max-width: 38.25em) {
  .second {
    font-size: 5rem;
  }
}
/*420px*/
@media only screen and (max-width: 26.25em) {
  .second {
    font-size: 6rem;
  }
}
/*320px*/
@media only screen and (max-width: 20em) {
  .second {
    font-size: 4.3rem;
  }
}

.third {
  font-size: 50px;
  font-family: sans-serif;
}
/*900px*/
@media only screen and (max-width: 56.25em) {
  .third {
    font-size: 4rem;
  }
}
/*612px*/
@media only screen and (max-width: 38.25em) {
  .third {
    font-size: 3.5rem;
  }
}
/*420px*/
@media only screen and (max-width: 26.25em) {
  .third {
    font-size: 3rem;
  }
}
/*320px*/
@media only screen and (max-width: 20em) {
  .third {
    font-size: 3.5rem;
  }
}

.forth {
  font-size: 20px;
  font-family: sans-serif;
  padding: 6px;
  border-radius: 50px;
  color: rgb(100, 94, 94);
}
.center-2 {
  margin-top: 2.5rem;
}
.pic-1 {
  max-width: 150%;
}

.first-header-3 {
  display: grid;

  margin-right: 4rem;
}
.our-product-main {
  color: white;
  animation: leftanima both;
}
.product-name {
  max-width: 100%;
}
.our-product {
  justify-self: center;
  font-size: 45px;
}
.description {
  color: white;
  background-color: rgb(84, 15, 15);
  padding: 4rem;
}
.fith {
  font-size: 20px;
}
.what-wedo_tittle {
  font-size: 4rem;
  text-align: center;
  margin-top: 4rem;
  color: rgb(81, 172, 247);
  font-family: sans-serif;
}

.what-wedo_tittle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to left,
    rgba(23, 154, 232, 1),
    rgba(255, 255, 255, 0.8)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .what-wedo_tittle {
    font-size: 6rem;
  }
}
.good-news {
  font-size: 2rem;
  text-align: center;
  padding: 0 5rem;
  margin-bottom: 3rem;
  color: black;
}

@media only screen and (max-width: 26.25em) {
  .good-news {
    font-size: 3.5rem;
  }
}

.what-wedo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

/*900px*/

@media only screen and (max-width: 56.25em) {
  .what-wedo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .what-wedo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.task {
  margin: 1rem;
  position: relative;
  z-index: 1;
  background-color: rgb(0, 0, 0);
}
.task::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -1;
}
.task::after {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  z-index: -2;
  filter: blur(100px);
}
.task::after,
.task::after {
  background: linear-gradient(
    200deg,
    rgba(23, 154, 232, 1),
    rgba(255, 255, 255, 0.8),
    rgb(40, 17, 94)
  );
}
.task-name {
  font-size: 2em;
  text-align: center;
  color: black;
  background-color: white;
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .task-name {
    font-size: 4rem;
  }
}
.task-pic {
  max-width: 100%;
  border-top-left-radius: 25%;
}

.disease-detail {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 0rem 2rem;
  font-size: 1.5rem;
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .disease-detail {
    font-size: 3rem;
  }
}

.learn-more {
  color: rgb(255, 64, 0);
  font-size: 1.5rem;
  font-weight: 1000;
}

.meet {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  animation: autoshowanimation both;
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .meet {
    display: grid;
    grid-template-columns: 1fr;
  }
}

.doc {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.meet-do {
  max-width: 50%;
  margin-top: 4rem;
}

.full-det {
  font-size: 2rem;
}

@media only screen and (max-width: 26.25em) {
  .full-det {
    font-size: 3.5rem;
  }
}
.full-det-1 {
  font-size: 2rem;
  margin-top: 4rem;
}

@media only screen and (max-width: 26.25em) {
  .full-det-1 {
    font-size: 3.5rem;
  }
}

.values {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.values-1 {
  border: 2px solid rgb(3, 140, 245);
  margin: 1rem;
}
.values-1_icon_pic {
  max-width: 25%;
}
.doc-pic {
  max-width: 100%;
  margin-top: -5rem;
}
.doc {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  display: block;
}
.stand {
  font-size: 2rem;
  text-align: center;
  font-family: sans-serif;
  margin: 0.5rem;
  display: block;
}
.values-1_cap {
  font-style: oblique;
  font-weight: 100;
  font-size: 1.5rem;
  font-family: sans-serif;
}
@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.logos {
  overflow: hidden;
  padding: 15px 0;
  white-space: nowrap;
  position: relative;
}
.logos:hover .logos-slide {
  animation-play-state: paused;
}
.logos::before,
.logos::after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos-slide {
  animation: 30s slide infinite linear;
  display: inline-block;
}
.logos-slide img {
  height: 35rem;
  margin: 0 5px;
}
.log {
  border: 1px solid rgb(0, 0, 0);
}

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin: 3rem;
}

.local-team {
  background-color: rgb(233, 58, 58);
  padding: 4rem;
}
.he-1 {
  font-size: 4rem;
  color: white;
  font-family: sans-serif;
  padding-bottom: 2rem;
}
.det {
  color: white;
  font-family: sans-serif;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.find {
  display: block;
  padding-bottom: 1.5rem;
}
.your {
  font-family: sans-serif;
  display: inline-block;
  font-size: 1.5rem;
}
.map {
  max-width: 100%;
}
.section__stories {
  background-image: linear-gradient(
      to left,
      rgb(255, 255, 255, 0.8),
      rgba(200, 206, 212, 0.8)
    ),
    url(26.jpg);
  background-size: cover;
  padding: 15rem 0rem;
  margin-top: 5rem;
}

.hat-wedo_tittle {
  font-size: 4rem;
  text-align: center;
  margin-bottom: 2rem;
  background-image: linear-gradient(
    to left,
    rgba(23, 154, 232, 1),
    rgba(41, 42, 43, 0.8)
  );
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.row-4 {
  display: grid;
  grid-template-columns: 12rem 1fr;
  background-color: rgb(255, 255, 2550, 0.5);
  margin: 10rem 15%;
  padding: 5rem;
  align-items: center;
  transform: skewX(-10deg);
}

/*612px*/

@media only screen and (max-width: 38.25em) {
  .row-4 {
    margin: 10rem 5%;
  }
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .row-4 {
    transform: skewX(0deg);
    display: grid;
    grid-template-columns: 1fr;
  }
}

.row-4 > * {
  transform: skewX(10deg);
}
/*420px*/

@media only screen and (max-width: 26.25em) {
  .row-4 > * {
    transform: skewX(0deg);
  }
}

.es {
  width: 10rem;
  height: 10rem;
  border-radius: 25rem;
  object-fit: cover;
}

.es__cap {
  position: absolute;
  top: 3rem;
  left: 2rem;
  color: white;
  font-size: 20px;
  opacity: 0;
  transform: translate(50%, 50%);
  transition: all 1s;
}

.testimony {
  font-size: 1.5rem;
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .testimony {
    font-size: 3rem;
  }
}

.row-4:hover .es__cap {
  opacity: 1;
  transform: translate(10%, 20%);
}
.row-4:hover .es {
  filter: blur(0.2rem);
}
.push {
  margin-left: 17rem;
}

.section__stories {
  position: relative;
}

.bg__video--content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 7rem 5rem;
  background-color: rgb(54, 49, 49);
  align-items: center;
  justify-items: center;
}

.header__logo {
  max-width: 100%;
  height: 25vh;
  margin-left: 2rem;
  margin-top: 2rem;
}
@media only screen and (max-width: 56.25em) {
  .header__logo {
    height: 20vh;
  }
}
@media only screen and (max-width: 38.25em) {
  .header__logo {
    height: 15vh;
  }
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.footer-tittle {
  font-size: 1.5rem;
  color: rgba(23, 154, 232, 1);
}
/*612px*/

@media only screen and (max-width: 38.25em) {
  .footer-tittle {
    font-size: 2rem;
  }
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .footer-tittle {
    font-size: 3rem;
  }
}
.footer-link {
  text-decoration: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  display: block;
}

/*612px*/

@media only screen and (max-width: 38.25em) {
  .footer-link {
    font-size: 2rem;
  }
}

/*420px*/

@media only screen and (max-width: 26.25em) {
  .footer-link {
    font-size: 3rem;
  }
}
